<html>
    <head>
        <title>Django blog</title>
        <style type="text/css">
            body {
             background: url(https://c.tenor.com/oqsBRXEzZVYAAAAd/heart-floating.gif);
             background-size: 100%;                                                        
             background-repeat: no-repeat;                                                        
            }
            h2{
                color:black;
                font-size: 36;
                text-align: center;
            }
           </style>
    </head>
    <body>
        <div>
            <h2><a href="/">Я люблю тебя. Очень скучаю</a></h2>
            <h2><a href="/">Я скоро буду. Меня отпустили</a></h2>
        </div>
    </body>
</html>