<html>
    <head>
        <title>Django blog</title>
        <style type="text/css">
            body {
             background: url(https://c.tenor.com/Fz7wwNcLwMQAAAAM/hearts-of-jesus-and-mary-sacred-heart-of-jesus.gif);
             background-size: 100;                                                        
            }
            a{
                color:white;
            }
           </style>
    </head>
    <body>
        <div>
            <h3><a href="/">Храни тебя господь милая</a></h3>
        </div>
    </body>
</html>